.auth{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.auth > form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.auth > form > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}

.auth > form > div >*:not(label){
    padding: 8px 5px;
    border-radius: var(--global-radius);
}

.auth > form > button {
    padding: 8px 5px;
    background-color: white;
    border-radius: var(--global-radius);
    border: var(--global-border);
}

.auth > form > button:hover{
    border: none;
    background-color: var(--global-primary-color);
    color: white;
}

.form-control{
    display: flex;
    flex-direction: column;
}

.errors{
    color: red;
    font-size: 13px;
}

.error-field{
    border: 1px red solid;
}

@media screen and (min-width: 600px) {
    .auth > form {
        width: 400px;
        border: 0.5px solid #999;
        border-radius: 8px;
        background-color: white;
        box-shadow: 10px 17px 34px 0px rgba(173,163,163,0.75);
        -webkit-box-shadow: 10px 17px 34px 0px rgba(173,163,163,0.75);
        -moz-box-shadow: 10px 17px 34px 0px rgba(173,163,163,0.75);
    }
}