.taskForm {
    width: 300px;
    margin: 0 auto;
    padding-top: 15px;
}

.taskForm > form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* width: 50%; */
}

.taskForm > form > input, select, button{
    padding: 5px;
    border-radius: 8px
}

.description{
    width: 300px;
    height: 150px;
    padding: 2px !important; 
}

.errors{
    color: red;
    font-size: 13px;
}

.taskForm > form > button{
    border: 0.5px solid rgb(237, 125, 125);
    background-color: white;
}

.taskForm > form > button:hover{
    background-color: red;
    color: white;
}